<div class="container">
    <h1>Account Profile</h1>
    <table class="table table-striped">
        <tr>
            <td>Username</td>
            <td>{{ account.username }}</td>
        </tr>
        <tr>
            <td>Forename</td>
            <td>{{ account.forename }}</td>
        </tr>
        <tr>
            <td>Surname</td>
            <td>{{ account.surname }}</td>
        </tr>
        <tr>
            <td>Created On</td>
            <td>{{ account.created_on | date:'medium' }}</td>
        </tr>
    </table>
</div>