<div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-4"><h1>Registration</h1></div>
                    </div>

                    <form name="RegistrationForm" class="form-horizontal" role="form">

                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-4"><h3>Required Information</h3></div>
                        </div>

                        <div class="form-group">
                            <label for="username" class="col-sm-4 control-label">Username</label>
                            <div class="col-sm-4">
                                <input id="username" name="username" type="email"
                                       class="form-control" placeholder="Email Address" required="required"
                                       data-ng-model="registration.username" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-4 control-label">Password</label>
                            <div class="col-sm-4">
                                <input id="password" name="password" type="password"
                                       class="form-control" placeholder="Password" required="required"
                                       data-ng-model="registration.password" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="repeat" class="col-sm-4 control-label sr-only">Repeat Password</label>
                            <div class="col-sm-4">
                                <input id="repeat" name="password" type="password"
                                       class="form-control" placeholder="Repeat Password" required="required"
                                       data-ng-model="registration.repeat" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-4"><h3>Optional Information</h3></div>
                        </div>

                        <div class="form-group">
                            <label for="forename" class="col-sm-4 control-label">First Name</label>
                            <div class="col-sm-4">
                                <input id="forename" name="forename" type="email"
                                       class="form-control"
                                       data-ng-model="registration.forename" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="surname" class="col-sm-4 control-label">Last Name</label>
                            <div class="col-sm-4">
                                <input id="surname" name="surname" type="email"
                                       class="form-control"
                                       data-ng-model="registration.surname" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <button type="button" class="btn btn-default" data-ng-click="submit(registration)" data-ng-disabled="RegistrationForm.$invalid">Register</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
