<div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <article>
                        <header class="text-center">
                            <h1>Page not Found</h1>

                            <h3>The web page you were looking for does not exist. Please try again.</h3>
                        </header>
                    </article>
                </div>
            </div>
        </div>
    </section>
</div>
